---
layout: "_layouts/default.twig"
title: Posts
---

<p>Read about Machine Learning, Software Architecture and good software craftsmanship practices.</p>

{% for post in posts %}
	{% if post.getDateInFormat('Y-m-d') <= "today"|date('Y-m-d') %}
		{% set url %}/{{ post.relativeUrl }}/{% endset %}
		{% if post.external is defined %}
			{% set url = post.external %}
		{% endif %}

		<article>
			{% if post.promoImage is defined %}{% include "_snippets/layout/image.twig" with { src: post.promoImage, url: url, alt: post.title } %}{% endif %}
			<h2><a href="{{ url }}">{{ post.title }}</a></h2>
			{% include "_snippets/post/postMeta.twig" with { post: post } %}

			<p>{{ post.description|raw }}</p>
			<p><a href="{{ url }}" class="link--more">Read more</a></p>
		</article>
	{% endif %}
{% endfor %}
