---
layout: "_layouts/default.twig"
title: Projects
---

{% for project in projects %}
	{% if project.image is defined %}
		{% include "_snippets/layout/image.twig" with { src: project.image, alt: project.name } %}
	{% endif %}

	<h2><a href="{{ project.repository }}">{{ project.name }}</a></h2>
	<h3>{{ project.title }}</h3>
	<p>{{ project.description|raw }}</p>
	<p><a href="{{ project.repository }}" class="link--more">Github</a><p>
{% endfor %}
