---
layout: "_layouts/default.twig"
title: Talks
---

<h2>English</h2>

<ul>
{% for talk in talks.english %}
	<li class="talk">
		<h3>{{ talk.name }}</h3>
		<p>{{ talk.event }} - {{ talk.year }}</p>
		<a href="{{ talk.slides }}" target="_blank">Slides</a>
	</li>
{% endfor %}
</ul>

<h2>Polish</h2>

<ul>
{% for talk in talks.polish %}
	<li class="talk">
		<h3>{{ talk.name }}</h3>
		<p>{{ talk.event }} - {{ talk.year }}</p>
		<a href="{{ talk.slides }}" target="_blank">Slides</a>
		{% if talk.video %}
			<a href="{{ talk.video }}" style="margin-left: 20px;" target="_blank">Video</a>
		{% endif %}
	</li>
{% endfor %}
</ul>
