<div class="book">
    {% if book.image is defined %}
        <img src="/assets/books/{{ book.image }}" alt="{{ book.title }}" />
    {% endif %}
    {% if book.post is defined %}
        <h4><a href="/{{ book.post }}">{{ book.title }}</a></h4>
    {% else %}
        <h4>{{ book.title }}</h4>
    {% endif %}

    <p>{{ book.author }}</p>
    {% if book.count is defined %}
        <p class="count">Read: <span>{{ book.count }}</span></p>
    {% endif %}
</div>
