<!DOCTYPE html>
<html lang="en">
    <head>
		{% include "_snippets/layout/head.twig" %}
		{% include "_snippets/layout/social_meta.twig" %}
	</head>
    <body>
	    <div class="wrapper wrapper--side">
			{% include "_snippets/layout/menu.twig" %}
		</div>

		<div class="wrapper wrapper--content">
			<main role="main" class="content">
				{% if title is defined %}<h1>{{ title }}</h1>{% endif %}

				{% include "_snippets/post/postMeta.twig" with { post: post, showSuggestEdit: true } %}
				<p class="post__description">{{ post.description|raw }}</p>

				{% if post.promoImage is defined %}
					{% include "_snippets/layout/image.twig" with { src: post.promoImage, url: site.url, alt: post.title } %}
				{% endif %}

				{{ post.content|raw }}

				<div class="post__signature">Arkadiusz Kondas</div>

				<div id="social" class="post__social"></div>

				{% if sources is defined %}
					<section class="post__sources">
						<h3>Sources</h3>
						<ul class="post__sources-list">
							{% for source in sources %}
								<li><a href="{{ source.0 }}" target="_blank">{{ source.1 }}</a></li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}
			</main>
		</div>

		{% include "_snippets/layout/scripts.twig" %}
	</body>
</html>
